/* HTML Selectors */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Original+Surfer&display=swap");

article {
    margin: 10px;
}

div {
    margin: 10px;
    text-align: center;
}
html {
    background-color: #c1beba; /* light gray */
  }

footer {
    background-color: #FE5F55;
    color: white;
    font-size: 2em;
    padding: 5px;
    text-align: center;
    
}

.logo-box img {
    grid-column: 1;
    grid-row: 1/2;
    width: 220px;    
    margin-left: -25px;
    padding-left: 100px;
  }
h1, h2, h3, h4, h5, h6 {
    font-family:"Original Surfer", georgia, sans-serif;
}

a {
    font-size: 1.9em;
}   
h1, h2, h3, h4, h5, h6 {
    font-family:"Original Surfer", georgia, sans-serif;
}

a {
    font-size: 1.9em;
}   
h1 {
    font-size: 6em;
    color: #FE5F55;    
    margin-top: 5px;
}
h2 {
    font-size: 3.5em;
    color: black;
}
h3 {    
    font-size: 2.5em;
    color: #FE5F55;
}
h4 {
    font-size: 2em;
}


#sortBy {    
    font-size: 1em;    
}

#sortParagraph {    
    font-family:"Original Surfer", georgia, sans-serif;
    font-size: 1.8em;   
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    text-align: center;
    margin: auto;    
    
    height: 300px;
}
header h1 {
    grid-column: 2;
}
body {
    max-width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }
img {
    width: 70%;
}

label {
    display: inline-block;    
    text-align: center;
}

main {
    text-align: center;
}

nav {
    background-color: #FE5F55;    
    height: 100px;
    color: white;
}

nav ul {
    list-style-type: none;    
    display: grid;
    line-height: 1.8em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;    
}

nav ul li a {
    color: white;
    display: block;
    padding: 30px;
    font-size: 40px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

nav a {
    transition: all 0.5s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

#curses {
    display: grid;
    grid-template-columns: 1fr;
}

/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    #curses {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64em) {
    #curses {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
